@font-face {
  font-family: "cowboy";
  src: url("Cowboys.woff");
}
@font-face {
  font-family: "montreal";
  src: url("NeueMontreal-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #2b2b2b;
  
}
.showAll{
  overflow-x: auto;
}
.hideAll{
  overflow: hidden;
}
main {
  transform: translate(0%,-20%);
  z-index: 99;
  position: relative;
  background: #2b2b2b;
  overflow-x: hidden;
}

.counter {
  z-index: 100;
  top: 80%;
  left: 80%;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 7vw;
  font-family: "cowboy";
  font-weight: 400;
}

.hi {
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(215, 215, 215);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  font-size: 5vw;
  font-family: "cowboy";
  font-weight: 100;
}

.overlay {
  
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.bar {
  border: 1px solid black;
  width: 10%;
  height: 100%;
  background-color: rgb(57, 63, 57);
}

#page1 {
  width: 100%;
  height: 100vh;
}

nav {
  mix-blend-mode: difference;
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1vw;
  font-weight: 500;
  font-family: "montreal";
  position: relative;
  padding-bottom: 0.5vh;
}

nav a .left {
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: 0.2s;
  background-color: aliceblue;
}
nav a .right {
  position: absolute;
  height: 1px;
  width: 100%;
  right: 0;
  bottom: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
  background-color: aliceblue;
}
nav a:hover .left {
  width: 100%;
}
nav a:hover .right {
  width: 0%;
}

nav h1 {
  display: none;
}

.heroBox {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  transform: translateX(12%);
  height: 30vh;
  width: 72vw;
  cursor: default;
  /* background-color: green; */
}
.moon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(350%, -20%);
  height: 120%;
  width: 27%;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid rgb(125, 125, 125);
  background-color: #2b2b2b;
}
.moon:hover {
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}
.moon:hover .arrow2 {
  transform: translate(-50%, 0%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.moon i {
  color: white;
  font-size: 8vw;
}
.moon .arrow1 {
  transform: translate(50%, 0);
  width: 10vw;
  height: 10vw;
}
.moon .arrow2 {
  transform: translate(50%, -100%);
  width: 10vw;
  height: 10vw;
}
.heroBox h1 {
  /* padding-left:8vw; */
  text-align: start;
  font-size: 6vw;
  font-weight: 300;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
  color: #2b2b2b;
  line-height: 16vh;
  font-family: "cowboy";
}
.heroBox h1:hover {
  color: #e6e6e6;
  -webkit-text-stroke: 2px #1a1a1a;
}
.heroBox .first {
  padding-bottom: 6%;
}
.effect .second {
  line-height: 0px;
}
#page2 {
  width: 100vw;
  height: 80vh;
  background-color: #2b2b2b;
}
#page2 .skillhead:hover h1 {
  transform: translateY(-50%);
  color: #c8ce94;
}
#page2 .skillhead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  height: 5vh;
  width: 10vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(45vw, 5vw);
  /* background-color: green; */
}
#page2 .skillhead h1 {
  font-family: "montreal";
  font-size: 2vw;
  color: #e6e6e6;
  font-weight: 900;
  transition: all ease-out 0.3s;
  transform: translateY(44%);
  cursor: default;
}
#page2 .Box {
  transform: translate(15vw, 20%);
  height: 74vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}
#page2 .Box .Boxfirst {
  width: 74%;
  height: 18vh;
  display: flex;
  justify-content: center;
  gap: 8vw;
  /* background: #000; */
}
#page2 .Box .Boxfirst .circle {
  width: 18%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
.htmllogo {
  width: 45%;
}
.circle img {
  transition: all ease-in-out 0.4s;
}
.circle:hover img {
  scale: 1.5;
}

#page3 {
  margin-bottom: 8vw;
  width: 100vw;
  min-height: 100vh;
  background-color: #2b2b2b;
}
#page2 .skillhead:hover h1 {
  transform: translateY(-50%);
  color: #c8ce94;
}
#page3 .skillhead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  height: 5vh;
  width: 12vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(45vw, 18vw);
  /* background-color: green; */
}
#page3 .skillhead h1 {
  font-family: "montreal";
  font-size: 2vw;
  color: #e6e6e6;
  font-weight: 900;
  transition: all ease-out 0.3s;
  transform: translateY(44%);
  cursor: default;
}
#page3 .projects {
  padding: 1px;
  min-height: 100%;
  width: 100%;
  transform: translateY(12%);
  /* background-color: rgb(173, 130, 130); */
}
/* --------------------------------------------------------------------------------- */
#page3 .card img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: contain;
}
#page3 .card1 {
  
  height: 10%;
  padding: 8vw;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #e6e6e6;
  gap: 2vw;
  align-items: end;
  /* background-color: cadetblue; */
}
#page3 .card1 .card {
  overflow: hidden;
  margin-left: 30%;
  height: 26vh;
  width: 18vw;
  padding-bottom: 1vw;
  border-radius: 20px;
  background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
  transition:all ease 0.3s;
}
#page3 .card1 .card:hover{
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
}
#page3 .card1 .card .image {
  height: 80%;
  width: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
}
#page3 .card1 .card .discribe {
 
  text-align: center;
  height: 24%;
  width: 100%;
  padding: 1.8vw 0;
  text-transform: uppercase;
  font-size: 1vw;
  font-family: "montreal";
  line-height: 2vh;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
#page3 .card1 .sidediscribe {
  height: inherit;
  margin-top: 4%;
  width: 40vw;
  font-family: "montreal";
  font-size: 1.1vw;
  /* background-color: green; */
}
#page3 .card1 .sidediscribe h5{
  letter-spacing: 1.2px;
}
#page3 .card1 .sidediscribe .detail {
  padding-left: 10%;
  line-height: 1.5;
  font-size: 100;
  font-size: 1.1vw;
  width: 100%;
  /* background-color: green; */
}
/* ----------------------------------------------------------------------------- */
#page3 .card2 {
  height: 10%;
  padding: 1px;
  width: 100%;
  display: flex;

  text-decoration: none;
  justify-content: center;
  color: #e6e6e6;
  /* background-color: cadetblue; */
}
#page3 .card2 .card {
  overflow: hidden;
  height: 24vh;
  width: 18vw;
  padding-bottom: 1vw;
  border-radius: 20px;
  background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
  transition:all ease 0.3s;
}
#page3 .card2 .card .image {
  height: 80%;
  width: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
}
#page3 .card2 .card:hover{
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
}
#page3 .card2 .card .discribe {
  height: 20%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1vw;
  font-family: "montreal";
  font-weight: 900;
  /* letter-spacing: 0.1vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#page3 .card2 .sidediscribe {
  height: inherit;
  width: 20vw;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 5%;
  font-family: "montreal";
  font-size: 1.1vw;
  /* background-color: green; */
}
#page3 .card2 .sidediscribe .detail {
  padding-left: 10%;
  line-height: 1.5;
  font-size: 100;
  font-size: 1.1vw;
  width: 200%;
  /* background-color: green; */
}
/* ------------------------------------------------------------------------- */
#page3 .card3 {
  height: 20%;
  padding: 1px;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #e6e6e6;
  gap: 2vw;
  align-items: start;
  /* background-color: cadetblue; */
}
#page3 .card3 .card {
  overflow: hidden;
  margin-left: 30%;
  height: 40vh;
  width: 18vw;
  border-radius: 20px;
  background-color: skyblue;
}
#page3 .card3 .card .image {
  height: 80%;
  width: 100%;
  background-color: slateblue;
}
#page3 .card3 .card .discribe {
  height: 20%;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8vw;
  font-family: "montreal";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page3 .card3 .sidediscribe {
  height: inherit;
  margin-top: 4%;
  width: 40vw;
  font-family: "montreal";
  font-size: 1.1vw;
  /* background-color: green; */
}

#page3 .card3 .sidediscribe .detail {
  padding-left: 10%;
  line-height: 1.5;
  font-size: 100;
  font-size: 1.1vw;
  width: 100%;
  /* background-color: green; */
}
#page4 {
  width: 100vw;
  min-height: 80vh;
  background-color: #2b2b2b;
}
#page4 .skillhead:hover h1 {
  transform: translateY(-50%);
  color: #c8ce94;
}
#page4 .skillhead {
  margin-bottom: 6%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  height: 5vh;
  width: 14vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(45vw, 5vw);
  /* background-color: green; */
}
#page4 .skillhead h1 {
  font-family: "montreal";
  font-size: 2vw;
  color: #e6e6e6;
  font-weight: 900;
  transition: all ease-out 0.3s;
  transform: translateY(44%);
  cursor: default;
}
#page4 .message {
  margin-left: 5%;
  width: 90%;
  height: 60vh;
  display: grid;
  grid-template-columns: 60% 23%;
  /* background-color: #763232; */
}
/* .left{
  
} */
.left form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(225, 184, 184); */
}
.left .one {
  display: flex;
  justify-content: right;
  gap: 4%;
  height: 10vh;
  width: 40vw;
  /* background-color: yellow; */
}
.left .one input {
  border-radius: 10px;
  font-size: 1.1vw;
  border: none;
  outline: none;
  height: 4.2vh;
  width: 30vw;
}
.left .one textarea {
  border-radius: 10px;
  margin-bottom: 1vw;
  font-size: 1.1vw;
  border: none;
  outline: none;
  width: 30vw;
  height: 20vh;
}
.left .submitbtn {
  padding: 0.5vw 2vw;
  font-size: 1.2vw;
  font-weight: 100;
  border: none;
  border-radius: 50px;
  margin-top: 6vw;
  margin-left: -10vw;
}
#page4 .right {
  color: #e6e6e6;
  /* background-color: #003C43; */
  padding-top: 0.5vw;
  text-align: left;
  position: relative;
  font-family: "montreal";
}
#page4 .right a{
  text-decoration:none
}

#page4 .right i{
  color: white;
}
.right .line {
  position: absolute;
  height: 30vh;
  width: 1px;
  background-color: #ffffff;
}
.right .head {
  font-weight: 100;
  font-size: 1em;
  padding-bottom: 3vw;
  text-align: center;
}
.right .body {
  padding-left: 1vw;
  font-weight: 100;
  font-size: 1.3em;
  padding-bottom: 1vw;
}

#page5 {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  min-height: 2vh;
  background-color: #2b2b2b;
}
#page5 h1 {
  font-family: "montreal";
  font-size: 1vw;
  cursor: default;
  letter-spacing: 3px;
  color: white;
}

@media (max-width: 768px) {
  nav a {
    display: none;
  }
  nav h1 {
    display: block;
    transform: translateX(40vw);
  }
  .heroBox {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    transform: translateX(8%);
    height: 30vh;
    width: 72vw;
    /* background-color: green; */
  }
  .heroBox h1 {
    font-size: 9vw;
    line-height: 10vw;
    font-weight: 100;
  }
}
